# Core scientific stack
numpy
scipy
pandas


# Genomics / bioinformatics
pysam==0.24.0
pybedtools==0.12.0
bitarray

# Utilities
cython==3.2.8
tqdm
matplotlib==3.7.5
seaborn==0.13.2

# Polyfun / LDSC-related helpers
scikit-learn
statsmodels==0.14.1
joblib
pyarrow==16.1.0
tqdm
bitarray
networkx
pandas-plink

# Misc
setuptools
wheel


